.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

.wrapper > div {
  padding-left: 5px;
}
  
  .bg-image {
    display: block;
    max-width:250px;
    max-height:800px;
    width: auto;
    height: auto;
  }
  
  .text-content {
    position: absolute;
    width: 250px;
  }
  
  .text-content > div {
    position: absolute;
  }
  
  .reg-no {
    top: 249px;
    left: 80px;
    font-size: 10px;
  }
  
  .name {
    top: 268px;
    left: 80px;
    font-size: 10px;
  }
  
  .picture {
    position: absolute;
    top: 110px;
    left: 73px;
  }
  
  .course {
    top: 288px;
    left: 80px;
    font-size: 10px;
  } 
  
  .validity {
    top: 307px;
    left: 80px;
    font-size: 10px;
  } 
  
  .dob {
    top: 443px;
    left: 94px;
    font-size: 10px;
  } 
  
  .blood {
    top: 470px;
    left: 94px;
    font-size: 10px;
  } 
  
  .address {
    top: 496px;
    left: 77px;
    font-size: 10px;
  } 
  
  .mobile {
    top: 592px;
    left: 72px;
    font-size: 10px;
  }