.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bg-image {
  display: block;
  max-width:250px;
  max-height:350px;
  width: auto;
  height: auto;
}

.text-content {
  position: absolute;
  width: 250px;
}

.text-content > div {
  position: absolute;
}

.reg-no {
  top: 108px;
  left: 105px;
  font-size: 7px;
}

.name {
  top: 117px;
  left: 105px;
  font-size: 7px;
}