.drop-wrapper {
    display: flex;

    .bg-image {
        max-width:250px;
        max-height:800px;
        width: auto;
        height: auto;
    }

    .dnd-div {
        position: absolute;
        width: 250px;
        height: 800px;
        background-color: rgba(0, 0, 0, 0);
    }
}